.features {
  border-right: 1px solid gray;
  h3 {
    color: #4C4C4C;
    font-size: 18px;
  }
  p {
    font-weight: light;
    color: #999999;
  }
  img {
    margin-right: 10px;
  }
}

.section-header {
  margin-bottom: 45px;
}
