---
title: Team
---
<h2 class="text-center section-header">OUR TEAM</h2>

<ul class="list-inline">
  <li>
    <%= image_tag "alice.jpg", class:"img-circle" %>
    <h3>Hello</h3>
  </li>
  <li>
    <%= image_tag "alice.jpg", class:"img-circle" %>
    <h3>Hello</h3>
  </li>
  <li>
    <%= image_tag "alice.jpg", class:"img-circle" %>
    <h3>Hello</h3>
  </li>
  <li>
    <%= image_tag "alice.jpg", class:"img-circle" %>
    <h3>Hello</h3>
  </li>
</ul>

<div class="contact">
  <h2 class="text-center section-header">CONTACT US</h2>
  <h3><i class="fa fa-phone"></i>+33620456072</h3>
  <h3><i class="fa fa-envelope"></i>alicemomo@gmail.com</h3>
</div>



